.balance {
  justify-content: center;
  display: flex;
  margin-top: 32px;
}

.balanceRow {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.paper {
  padding: 16px;
}

.title {
  text-align: center;
}

.accountRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.loader {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.loader div {
  position: absolute;
  top: 25%;
  left: 50%;
}
